body {
    background-color: #F3F4F6;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-drag: none;
}

.enter {
    text-align: center;
    font-weight: bolder;
    margin-top: 250px;
}

.promptCon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
}

.prompt {
    width: 850px;
    height: 55px;
    border-radius: 20px;
    padding-left: 25px;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: rgb(224, 223, 223);
}

.prompt::placeholder {
    color: black;
}


.cards {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
}

.card {
    height: 600px;
    width: 400px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.close {
    font-size: 60px;
    font-weight: bolder;
    position: fixed;

}

.qnum {
    font-size: 25px;
    color: white;
    text-align: center;
}

.choiceCon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.answer {
    font-size: 20px;
    font-weight: bold;
    transform: translateY(200px);
}

.settingsBtn {
    border: none;
    outline: none;
    border-radius: 20px;
    color: white;
    background-color: #6366F1;
    font-size: 24px;
    height: 45px;
    width: 125px;
    margin-right: 50px;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.settingsBtn:hover {
    transform: translateY(-6px);
    background-color: black;
    color: white;
}