body {
    background-color: #F3F4F6;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    -webkit-user-drag: none;
}

.nvb {
    background-color: white;
    height: 75px;
    width: 100%;
}

.right {
    margin-right: 45px;
}

.rbtn {
    height: 50px;
    width: 100px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 22px;
    margin-right: 30px;
    color: white;
    transition: all 0.3s ease;
}

.rbtn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.loginBtn {
    background-color: #6366F1;
}

.logoutBtn {
    background-color: #6366F1;
}

.signupBtn {
    background-color: #6366F1;
    width: 150px;
}

.createFC {
    color: #6366F1;
    background-color: transparent;
}

.logo {
    height: 50px;
    margin-left: 125px;
    scale: 4;
    cursor: pointer;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.titled {
    margin-top: 75px;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    font-size: 50px;

}

.desc {
    margin-top: 20px;
    font-size: 25px;
    width: 30%;
    text-align: center;
}

.s1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;

}

.cimg {
    height: 300px;
    margin-left: 100px;
}

.imgdesc {
    width: 36%;
    font-size: 25px;
    font-weight: bold;
    margin-left: 100px;
}

.tryit {
    background-color: #6366F1;
    width: 150px;
    transform: translateY(-100px);
    margin-right: 300px;
}

.flashCon {
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.flash {
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    padding: 20px;
    margin: 25px;
}

.success {
    background-color: green;
    color: white;
}

.danger {
    background-color: red;
    color: white;
}