<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/9145670.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}"> 
</head>
<body>
    <nav class="nvb navbar fluid-container">
        <div class="left fluid-container">
            <img src="../static/ChatGPT Image Sep 28, 2025, 04_56_28 PM.png" alt="Logo" class="logo navbar-brand">
        </div>
        <div class="center fluid-container">

        </div>
        <div class="right fluid-container">
            <button class="createFC rbtn">+ Create</button>
            <button class="loginBtn rbtn">Login</button>
        </div>
    </nav>

    <div class="main">
        <h1 class="titled">Master Anything, One Flashcard at a Time.</h1>
        <p class="desc">Master whatever you're learning with FlashMind's interactive AI flashcards.</p>
        <button class="signupBtn rbtn">Sign Up</button>
        <div class="s1">
            <p class="imgdesc">Stuck while studying? No problem, use FlashMind's AI flash cards to generate multiple choice questions.</p>
            <img src="../static/question-70.png" alt="Confused" class="cimg">
        </div>
        <button class="tryit rbtn">Try it out</button>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flashCon">
            {% for category, message in messages %}
                <div class="flash {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', ()=> {
            const logo = document.querySelector('.logo');
            const loginBtn = document.querySelector('.loginBtn');
            const createFC = document.querySelector('.createFC');
            const trybtn = document.querySelector('.tryit');

            trybtn.addEventListener('click', ()=> {
                window.location.href = "{{ url_for('create') }}"
            })

            logo.addEventListener('click', ()=> {
                window.location.href = "{{ url_for('home') }}"
            });

                loginBtn.addEventListener('click', ()=> {
                    window.location.href = "{{ url_for('login') }}"
                });

            createFC.addEventListener('click', ()=> {
                window.location.href = "{{ url_for('create') }}"
            });
        });


    </script>
</body>
</html>